module "cloud-nat" {
  source        = "terraform-google-modules/cloud-nat/google"
  version       = "~> 1.4"
  project_id    = var.project_id
  region        = var.region
  create_router = true
  router        = "cloud-nat-router"
  network       = google_compute_network.privatenet.self_link
  name          = "nat-config"
}